body {
   font-family:Trebuchet MS;
    background-color: #7B79AD; 
    color: #FAF6E1
    
}

h1, h2, h3, h4, h5, h6 {
font-family: "Yatra One";
font-size:30pt; 
text-align: center;
}

main {
    text-align: center;
}


/*Hero Section*/


#hero, footer {
   background-color:#ADA88B;
    padding: 10px;
    color: #7B79AD;
   text-align: center;
  
   
   
}

#hero img {

    width: 300px;
    
}


/*Hobbies Section*/
#hobbies ul li:nth-child(even) {
    color: #473733;
    list-style-type:circle;
  text-align:center;
  list-style-position: initial;
  

}


#hobbies ul li:nth-child(even) {
    color:black;
    list-style-position:inside;

}


ul li {
    list-style-position: inside;
}

    



  /*Gallery Section*/
  #gallery {
border: 10px solid #ADA88B;
box-shadow: 0 0 0 10px #969278;
margin-bottom: 2rem;



  }

  #gallery img {
    max-width: 100%

  }
 
  #gallery figure {

text-align:center;


  }

  /*Literature*/
  #lit {
border:10px solid #ADA88B;
box-shadow: 0 0 0 10px #969278;
margin: bottom 2rem;

  }

  #lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;

  }

  #lit div p {
padding: 0.3rem 0;
clear:both;


  }

  /*Drop Caps*/
  #lit div p:first-letter {
color:#57567A; 
float:left;
font-size:3em; 
padding:.25em;
line-height:.65;
border:4px outset #CCBEFE;
text-shadow:2px 2px 3px rgba(red, green, blue, alpha);
box-shadow:5px 5px 5px rgba(red, green, blue, alpha);
border-top-left-radius: .2em;
border-bottom-right-radius: .2em;
  }






  


  
 
     



  










    


 